aiogram==2.9.2
aiohttp==3.6.2
Babel==2.8.0
certifi==2020.6.20
multidict==4.7.6
attrs==20.2.0
chardet==3.0.4
yarl==1.5.1
async-timeout==3.0.1
pytz==2020.1
idna==2.10
requests==2.24.0
urllib3==1.25.10